@use 'sass:map';
@use '../../style/theme.scss' as *;

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: map.get($background, Backdrop);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 120px;
}

.wrapper_block {
  background-color: map.get($background, Backdrop);
  // border: 1px solid map.get($primary, OutlineBorder);
  // border-radius: 6px;
}

.closed_button {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  background-color: map.get($secondary, Dark);
  color: map.get($text, Primary);


  &:hover {
    background-color: map.get($secondary, Main);
    // color: map.get($text, DarkContrast);
  }

  svg {
    height: 100%;
  }
}