@use 'sass:map';
@use './theme' as *;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;

    body {
      width: 100%;
      color: map.get($text, Primary);
    }
    
    ::-webkit-scrollbar {
      width: 4px;
    }

    ::-webkit-scrollbar-track {
      background-color: map.get($main-colors, pageBg);
    }

    ::-webkit-scrollbar-thumb {
      background-color: map.get($background-colors, btn);
      border-radius: 2px;
    }

    // :global {

    // }
}