$main-colors: (
  pageBg: #2e2e2e,
  mainBg: #222,
  mainText: #fff,
  modalWrapper: #2e2e2e99,
  dbBg: #2d2d2d,
);

$background-colors: (
  brand: #d2233c,
  header: #1f1f1f,
  main: #2e2e2e,
  secondary: #363636,
  menuActive: #d2233c3f,
  btn: #424242,
  modal: #1f1f1f,
  theme: #131517,
  table: #2e2e2e,
  tableHeader: #131517,
  tableSecondary: #424242,
  hover: #1f1f1fb3
);

$text-colors: (
  brand: #fff,
  main: #fff,
  secondary: #eee,
  menu: #eee,
  header: #eef2f6,
  btn: #eee,
  modal: #eee,
);

$warning-colors: (
  success: #00bfa5,
  warning: #ffa726,
  danger: #ff5252,
);